.control.dpad {
    display: inline-block;
    background-color: #0000ff;
}

.control.height {
    display: inline-block;
    background-color: #3333ff;
}

.screen {
    position: absolute;
    left:0; right: 0;
    top: 0; bottom: 0;
}

.fill {
    flex: 1;
}

.ui.tab {
    visibility: collapse;
    padding-left: 1em;
}

.ui.tab.active {
    visibility: visible;
}

.frame {
    display: flex;
}

.frame > .fill {
    flex: 1;
}

.frame.vertical {
    flex-direction: column;
}



.clear {
    clear: both;
}

.ui.button > .right.icon:not(.button) { margin: 0em; }

.machinelist {
    text-align: center;
    margin: 2em;
}

.machinelist > .container {
    width: 30rem;
    margin: auto;
    text-align: left;
}

.machinelist > .container > .ui.vertical.menu {
    text-align: left;
    width: 30rem;
    padding-left: 0;
}

.sidebar {
    max-width: 30rem;
}

.ui.list.messages {
    border-radius: 5px 0 0px;
    box-shadow: 0px 0px 5px gray ;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30rem;
    z-index: 100;
    margin: 0px;
    padding: 0.5rem;
}

.ui.list.messages:empty {
    display: none;
}